input {
    background-color: blueviolet;
    border: 0;
    outline: 0;
    color: #F9C80E;
    font-family: VRC;
}

textarea {
    background: blueviolet;
    border: 0;
    outline: 0;
    color: #F9C80E;
    font-family: VRC;
}