html, body, #root, .App {
  height: 100%;
  margin: 0;

  font-family: VRC;
  color:cyan;
}

.RetroButton {
  display: flex;
  align-items:center;
  justify-content:center;
  font-family: ZeroesTwo;
  color:cyan;

  transform: skew(20deg);

  border-style: solid;
  border-radius: 8%;

  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: .2vw;
  margin-right: .2vw;

  padding-left: 1vw;
  padding-right: 1vw;
}

.RetroButton:hover {
  transition-duration: 0.3s;
  cursor: pointer;
  color: yellow;
}

.Button-Collapsed {
  color:cyan;
  border-radius: 1%;
}

/* ensures text does not get hilighted */
::selection {
  color: none;
  background: none;
}

/* for the Header */
.navbar .navbar-nav .nav-link:hover {
  color: yellow;
}
