html, body, #root, .App {
  height: 100vh;
  margin: 0;
  font-family: RoadRage;
}

.Under-Construction {
  text-align: center;
  z-index: 1;
  color: violet;

  font-size: large;
  font-family: RoadRage;

  font-size: 10vh;

  animation: flash 0.3s ease infinite alternate;
}

/* ANIMATION */
@keyframes flash {
  from {
    text-shadow: 
      0 0 5px #fc0303,
      0 0 10px #fc0303,
      0 0 20px #fc0303,
      0 0 40px #fc0303;
  }
  to {
    text-shadow: 
      0 0 5px #03cafc,
      0 0 10px #03cafc,
      0 0 20px #03cafc,
      0 0 40px #03cafc;
  }
}