.background-80s{
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #010310 0,#0c1142 0%,#45125e 5%,#d53567 20%,#f0c3d9 25%,#0c1142 25%) fixed;
  background-size:100vh var(--background-height,100vh);
  overflow:hidden;
  position:absolute;
  left:0;
  top:0;
  width:100vw;
  height:var(--background-height,100vh);
  z-index:-2;
}

.animated-clouds:before{
  filter: url(#filter);
}

.background-80s:before{
  content:'';
  background: linear-gradient(to bottom, #010310 0,#0c1142 0%,#45125e 5%,#d53567 20%,#f0c3d9 25%,#0c1142 25%) fixed;
  width:100vh;
  height:15vh;
  position:absolute;
  z-index:-1;
  left:0;
  top:0;
  opacity:0.2;
}

.stars:after{
  transform:translateY(-40%);
  content:' ';
  border-radius:100%;
  width:3px;
  height:4px;
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
  box-shadow: 
    5vw 15vh 2px white,
    2vw 19vh 2px white,
    10vw 10vh 2px white,
    12vw 20vh 0px white,
    30vw 15vh 2px white,
    16vw 5vh 2px white,
    24vw 10vh 0px white,
    24vw 10vh 0px white,
    33vw 5vh 2px white,
    20vw 10vh 0px white,
    80vw 10vh 2px white,
    62vw 20vh 0px white,
    60vw 15vh 2px white,
    70vw 7vh 0px white,
    64vw 10vh 0px white,
    85vw 2vh 0px white,
    90vw 10vh 0px white;
  opacity:.8;
  animation:glitter 2s infinite;
}

.sun{
  width:200px;
  height:200px;
  border-radius:100%;
  position:absolute;
  background-color:yellow;
  left:calc(50%);
  bottom:75vh;
  transform:translateX(-50%);
  background-image: linear-gradient(red,yellow),linear-gradient(black,white);
  clip-path:polygon(-50% 0px,150% -50%,150% 55%,-50% 55%,
    -50% 62%,150% 62%,150% 70%,0 70%,
    -50% 75%,150% 75%,150% 80%,0 80%,
    -50% 82%,150% 82%,150% 85%,0 85%,
    -50% 87%,150% 87%,150% 90%,0 90%,
    -50% 92%,150% 92%,150% 95%,0 95%,
    -50% 96%,150% 96%,150% 150%,0 150%);
    box-shadow: rgba(255,128,0,0.7) 0px 0 20px;    
}

.grid{
  position:absolute;
  bottom: 10vh;
  left:0;
  margin-left: -50%;
  width: 200%;
  height: 100%;
  background-position-y: 0px;
  background-image:
        repeating-linear-gradient(90deg,var(--grid-color,rgba(115,59,139,0.7)) 0%,
        transparent calc(1px + var(--grid-blur,1px)), transparent var(--grid-size, 30px),
        var(--grid-color,rgba(115,59,139,0.7)) calc(var(--grid-size, 30px) + 1px + var(--grid-blur,1px))),
        repeating-linear-gradient(180deg,var(--grid-color,rgba(115,59,139,0.7)) 0%,
        transparent calc(1px + var(--grid-blur,1px)), transparent var(--grid-size, 30px),
        var(--grid-color,rgba(115,59,139,0.7)) calc(var(--grid-size, 30px) + 1px + var(--grid-blur,1px)));
  transform:perspective(50vh) rotateX(60deg) translateZ(10px);
  animation:moving-grid 0.5s infinite linear;
  z-index:-1;
}

@keyframes moving-grid{
  0%{
    transform:perspective(50vh) rotateX(60deg) translateZ(10px) translateY(-var(--grid-size, 30px));
  }
  100%{
    transform:perspective(50vh) rotateX(60deg) translateZ(10px) translateY(var(--grid-size, 30px));
  }
}

.overlay{
  width:100%;
  height:100%;
  z-index:0;
  position:absolute;
  left:0;
  top:0;
  background-image: repeating-linear-gradient(rgba(0,0,0,0.3) 0,transparent 1px,transparent 2px,rgba(0,0,0,0.3) 3px);
  pointer-events: none;
}

.animated-clouds:before{
  filter: url(#filter);
}

/* ANIMATION */
@keyframes flash {
  from {
    text-shadow: 
      0 0 5px #fc0303,
      0 0 10px #fc0303,
      0 0 20px #fc0303,
      0 0 40px #fc0303;
  }
  to {
    text-shadow: 
      0 0 5px #03cafc,
      0 0 10px #03cafc,
      0 0 20px #03cafc,
      0 0 40px #03cafc;
  }
}